*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main-container{
    height: 100vh;
    width: 100vw;
    background-image: url("/Blogging Website/Images/bgimg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: fixed;
}

.navbar{
    margin: 0%;
    height: 15%;
    width: 100%;
    position: fixed;
    display: flex;
    color: white;
}

.left-navbar{
    height: 100%;
    width: 30%;
    display: flex;
    padding-top: 4%;
    margin-left: 12%;
}

.heading{
    height: 100%;
    width: 30%;
    padding-top: 2%;
    font-weight: bolder;
    font-style: italic;
}

.heading:hover{
    cursor: pointer;
}

.right-navbar{
    height: 100%;
    width: 35%;
    display: flex;
    padding-top: 4%;
    padding-right: 5%;
    margin-right: 8%;
}

.options{
    font-size: 1.6rem;
    opacity: 0.7;
}

.options:hover{
    cursor: pointer;
}
 .select{
     font-size: 2rem;
     font-weight: 900;
     font-style: italic;
     color: bisque;
 }

@keyframes options-animate{
    0%{
        opacity: 0.5%;
    }

    100%{
        padding-top: 1.5%;
    }
}

@keyframes head-animate{
    0%{
        transform: rotate(90);
    }
}

.content{
    height: 85%;
    width: 100%;
    position: fixed;
    margin-top: 8%;
    display: flex;
}

.image-content{
    height: 85%;
    width: 60%;
    margin-left: 7%;
    margin-top: 4%;
    display: flex;
    box-shadow: 1px 3px 5px 5px #2A312C;
}

.left-side{
    height: 100%;
    width: 60%;
}

.right-side{
    height: 100%;
    width: 40%;
}

.image{
    height: 50%;
    width: 100%;
}

img{
    height: 100%; 
    width: 100%;
}

.quotes{
    height: 90%;
    width: 30%;
    padding-left: 5%;
    padding-top: 13%;
    font-style: italic;
    color:antiquewhite;
    text-indent: 10px;
    word-spacing: 8px;
    font-size: 1.3rem;
}

#write,#profile{
    font-size: 2rem;
    margin-top: 1%;

}

.editor{
    position: absolute;
    top: 90%;
    right: 11%;
    font-size: 1.5rem;
    width: 8%;
    padding-left: 2%;
    border-radius: 20px;
    display: none;
    background-color: darkslategray;
}

.editor:hover{
    cursor: pointer;
}

        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 20px;
            outline: none;
        }

        /* Set a style for all buttons */
        #signup,#login {
            background-color: #45496d;
            color: white;
            padding: 10px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 25%;
            margin-left: 35%;
        }

        button:hover {
            opacity: 0.8;
        }
        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
        }

        /* Center the image and position the close button */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

        img.avatar {
            width: 20%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* The Modal (background) */
        .modal {
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 90%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            padding-top: 60px;
        }

        .container label, p{
            color: #fff;
        }
        .container label, a{
            margin-left: 1%;
            font-weight: bold;
            font-size: 1.3rem;
        }
        .container img{
            width: 6%;
            height: 6%;
            margin-left: 5%;
        }

        .container img:hover{
            cursor: pointer;
        }
        /* Modal Content/Box */
        .modal-content {
            background-color: #050416;
            opacity: 0.9;
            box-shadow: 2px 2px 5px 5px black;
            margin: 2% auto 15% auto;
            /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 25%;
            /* Could be more or less, depending on screen size */
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #fff;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: red;
            cursor: pointer;
        }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes animatezoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }

        #log:hover{
            cursor: pointer;
        }

.loader-div{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #050416;
    opacity: 0.7;
    position:absolute;
    left: 0;
    top: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    /* display: none; */
    position: absolute;
    display: none;
    left: 50%;
    top: 40%;
    border-radius: 50%;
    border-top: 16px solid #9eabb4;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.extra{
    position: absolute;
    right: 0;
    width: 5%;
    height: 5%;
    color: darkslategray;
    border-color: darkgray;
    outline: none;
}

.all-articles{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(black, #050416, black);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    background-color: black;
    background-image: linear-gradient(black, #050416, black);
}

.article{
    width: 40%;
    height: 40%;
    background-color:rgba(0,0,0,0.5);
    box-shadow:  0px 5px 10px #45496d;;
    border-radius: 10%;
    padding-left: 4%;
    margin-top: 0.5%;
}

.article:hover{
    cursor: pointer;
}

#art-1{
    float: left;
}

#art-2{
    float: right;
}

h2{
    color: white;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.para-text{
    height: 50%;
    width: 100%;
    margin-top: 0.2%;
    padding-right: 3%;
    color: antiquewhite;
}

h3{
    color: antiquewhite;
    float: right;
    margin-right: 25%;
    font-style: italic;
}

.bigBlog{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.9;
    background-color: black;
    display: block;
}

.blogtext{
    width: 90%;
    height: 70%;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow:  0px 5px 10px #45496d;
    color: #888;
    word-spacing: 20px;
    line-break: normal;
    font-size: 20px;
    font-weight: bold;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
    display: block;
}

.input{
    padding-left: 5%;
    padding-right: 5%;
}
